* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(0, 0, 0, 0.99);
}
/* sign un/in */
.signup{
    display: none;
    position: absolute;
}


.container {
  height: 480px;
  position: relative;
  width: 360px;
  margin: 8% auto;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
}
.container h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 32px;
}
.container form {
  height: 280px;
  width: 280px;
  position: absolute;
  top: 50px;
  left: 40px;
}
.signin form {
  height: 280px;
  width: 280px;
  position: absolute;
  top: 100px;
  left: 40px;
}
form input {
  width: 100%;
  padding: 10px 5px;
  margin: 5px 0;

  border: 0px;
  outline: none;
  border-bottom: 1px solid #7777;
  background: transparent;
}
.container button {
  width: 100%;
  margin: 30px auto;
  text-align: center;
}
form button {
  height: 40px;

  background: linear-gradient(to right, #6f1ca6, #a795bf);
  border-radius: 5px;

  margin-left: 85px;
  cursor: pointer;
}
.container a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
